<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
    <div class="hero d-flex flex-column justify-content-center" full-page-hero>
        <div class="container text-center">
            <div class="hero-image">
            </div>
            <h1 class="display-4">A new <strong>Open Source</strong><br/>password manager.</h1>
            <div>
                <div class="more-info-text" @click="clickHeroButton()">
                    <div class="text">
                        <button class="btn btn-primary btn-lg">Download Now</button>
                    </div>
                    <div class="icon">&darr;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-wrapper">
        <div class="container">
            <div class="about text-center">
                <h3>Your secure Open Source Password Manager.</h3>
                <p>
                    Remembering all the passwords can
                </p>
            </div>
            <div class="features text-center">
                <div class="row">
                    <div class="feature col-sm">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <h4>Emails</h4>
                        <p class="text-muted">Built-in support for internal emails from the <a href="/contact">contact
                                form</a>, as well as transactional emails for users.</p>
                    </div>
                    <div class="col-sm feature">
                        <div class="icon">
                            <i class="fa fa-lock"></i>
                        </div>
                        <h4>Authentication</h4>
                        <p class="text-muted">Ready-to-go, customizable <a href="/signup">sign up</a>, <a href="/login">login</a>,
                            and <a href="/password/forgot">password recovery</a> flows for your users.</p>
                    </div>
                    <div class="col-sm feature">
                        <div class="icon">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        <h4>Billing</h4>
                        <p class="text-muted">Hook up to your Stripe account for managing customers and payment
                            sources.</p>
                    </div>
                </div>
                <a class="btn btn-outline-info mt-5" href="/faq">Learn more</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="setup" role="scroll-destination">
            <h3 class="text-center">How to get started:</h3>
            <div class="step">
                <div class="step-image">
                    <img alt="computer with email symbol on screen" src="/images/setup-email.png"/>
                </div>
                <h5>RESTful API Backend server</h5>
                <p>You can host the backend server on your own (local computer or on a remote server, if you want it to
                    use it on different devices and networks). As an alternative for beginners you can also use our
                    server at (https://nowpass.org). Your passwords, secure notes etc. are encrypted (AES-CBC-256) at
                    your own device
                    and are never submitted in clear text to the REST service.
                </p>
                <ul>
                    <li>
                        <strong>Self hosted REST API service</strong>
                        <p>
                            Checkout the <a href="https://github.com/nowpass/api">GitHub project page</a>
                            and README.md for further instructions on how to set up an own backend API server.
                        </p>
                    </li>
                    <li>
                        <strong>nowpass.org API service</strong>
                        <p>
                            Register on this page and start using NOWPASS on the fly. Just use https://nowpass.org as
                            your
                            RESTful API server. You can export your data any time and migrate it to your another server.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="download">
            <h3 class="text-center">Download the Clients</h3>
            <div class="row">
                <div class="col-4">
                    <strong><a href="">Google Chrome Extension</a></strong>
                    <p>
                        Store and manage your passwords and more directly from your browser.
                    </p>
                </div>
                <div class="col-4">
                    <strong><a href="">Desktop Application for Linux, Mac OS and Windows</a></strong>
                    <p>
                        Manage your passwords in a standalone application.
                    </p>
                </div>
                <div class="col-4">
                    <strong><a href="">Command Line Client</a></strong>
                    <p>
                        Python command line client for storing, managing and searching for your passwords.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
