<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
    <div class="hero d-flex flex-column justify-content-center" full-page-hero>
        <div class="container text-center">
            <div class="hero-image">
            </div>
            <h1 class="display-4">A new <strong>Open Source</strong><br/>password manager.</h1>
            <div>
                <div class="more-info-text" @click="clickHeroButton()">
                    <div class="text">
                        <button class="btn btn-primary btn-lg">Download Now</button>
                    </div>
                    <div class="icon">&darr;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-wrapper">
        <div class="container">
            <div class="about text-center">
                <h3>Don't entrust your passwords to closed proprietary software or services</h3>
                <p>
                    NOWPASS is 100% Open Source software, always keeping your passwords save.
                </p>
            </div>
            <div class="features text-center">
                <div class="row">
                    <div class="feature col-sm">
                        <div class="icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <h4>Open Source</h4>
                        <p class="text-muted">Every single part of NOWPASS is Open Source software, built on well known
                            . You are in control!</p>
                    </div>
                    <div class="col-sm feature">
                        <div class="icon">
                            <i class="fa fa-fort-awesome"></i>
                        </div>
                        <h4>Secure</h4>
                        <p class="text-muted">Your passwords are encrypted (AES-CBC-256) on your local device and are
                            never
                            submitted or stored in clear text.</p>
                    </div>
                    <div class="col-sm feature">
                        <div class="icon">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <h4>Extensible</h4>
                        <p class="text-muted">Extend NOWPASS with your own functionality and build your own clients on
                            top.</p>
                    </div>
                </div>
                <a class="btn btn-outline-info mt-5" href="/faq">Learn more</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="setup" role="scroll-destination">
            <h3 class="text-center">How to get started:</h3>
            <div class="alert alert-warning">
                Please note that NOWPASS is still in an very early alpha version. Not all features are implemented and
                it's not meant for production use.
            </div>
            <div class="step">
                <div class="step-image">
                    <img alt="computer with email symbol on screen" src="/images/setup-email.png"/>
                </div>
                <h5>RESTful API Backend server</h5>
                <p>You can host the backend server on your own (local computer or on a remote server, if you want it to
                    use it on different devices and networks). As an alternative for beginners you can also use our
                    server at (https://nowpass.org). Your passwords, secure notes etc. are encrypted (AES-CBC-256) at
                    your own device
                    and are never submitted in clear text to the REST service.
                </p>
                <ul>
                    <li>
                        <strong>Self hosted REST API service</strong>
                        <p>
                            Checkout the <a href="https://github.com/nowpass/server">GitHub project page</a>
                            and README.md for further instructions on how to set up an own backend API server.
                        </p>
                    </li>
                    <li>
                        <strong>nowpass.org API service</strong>
                        <p>
                            Register on this page and start using NOWPASS on the fly. Just use https://nowpass.org as
                            your
                            RESTful API server. You can export your data any time and migrate it to your another server.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="download-wrapper">
        <div class="container">
            <div class="download">
                <h3 class="text-center">Download the Clients</h3>
                <div class="row text-center">
                    <div class="col-4">
                        <a href="https://downloads.nowpass.org/chromium/latest.zip">
                            <img src="/images/nowpass-chrome-thumb.jpg" alt="Nowpass Chrome Extension" class="img-fluid"/>

                            <h5>Google Chrome Extension</h5>
                        </a>
                        <p>
                            Store and manage your passwords directly from your browser. Works with Chromium,
                            Vivaldi, Opera ..
                        </p>
                    </div>
                    <div class="col-4">
                        <a href="https://downloads.nowpass.org/cli/latest.zip">
                            <img src="/images/python-cli-thumb.jpg" alt="NOWPASS command line client" class="img-fluid"/>

                            <h5>Command Line Client</h5>
                        </a>
                        <p>
                            Python command line client for storing, managing and searching for your passwords.
                        </p>
                    </div>
                    <div class="col-4">
                        <a href="https://downloads.nowpass.org/desktop/latest.zip">
                            <img src="/images/nowpass-desktop-thumb.jpg" alt="NOWPASS Desktop Application" class="img-fluid"/>

                            <h5>Desktop Application</h5>
                        </a>

                        <p>
                            Manage your passwords in a standalone application for Linux, Mac OS and Windows.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
